<p style="color: green"><%= notice %></p>


<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>

    <div class="card">
  <div class="card-header">
    <p>Published at <%= article.created_at.strftime('%b %d %Y')  %></p><p> by <%= article.user.email %></p>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%=article.title%></h5>
    <p class="card-text"><%= article.content %></p>
    <%= link_to "Show Article", article, class:"btn btn-primary" %>
    <%= button_to like_article_path(article), method: :put do %>
      Like
      <%= article.get_upvotes.size %>
    <% end %>

    <%= button_to unlike_article_path(article), method: :put do %>
      Dislike
      <%= article.get_downvotes.size %>
    <% end %>
  </div>
</div>
  <% end %>
</div>
